In [5]:
### 1부터 100까지의 범위 중에 짝수의 값들로 리스트 변수 생성

# 변수명 : list8
# list8에 들어 있는 값들 중에 3의 배수들만 출력
# 인덱스 번호를 이용하는 방식과, 값을 이용하는 방식 2가지 for 문으로 작성

list8 = list(range(2, 102, 2))
print(list8)

temp1 = []
for i in range (0, len(list8), 1) :
    if list8[i] % 3 == 0 :
        temp1.append(list8[i])
print(temp1)

temp2 = []
for val in list8 :
    if val % 3 == 0 :
        print(val)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]
6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

In [6]:
### list8 데이터 중에 8의 배수의 총 갯수를 출력

count = 0
for i in range(0, len(list8), 1) :
    if list8[i] % 8 == 0 :
        count += 1
print(count)

12

In [8]:
### list의 값 자체를 이용해서 반복 패턴 만들기

count = 0
for val in list8 :
    if val % 8 == 0 :
        count += 1
print(count)

12

#### 슬라이싱

In [12]:
# 첫번 째 값
print(list8[0])

# 마지막 값
print(list8[len(list8)-1])
print(list8[-1])

### 슬라이스 사용
# 슬라이스는 범위를 의미하며, 범위를 지정하는 기호는 콜론(:) 사용
# 범위를 지정하여 리스트 내 값을 추출 할 때 사용함


### 리스트 내에 전체 데이터 추출하기
print(list8[:])

### 시작 인덱스 번호 0부터 5보다 하나 작은 인덱스 번호까지의 범위 지정
print(list8[0 : 5])

### 뒤에서 3번째 값부터 전체 값을 추출
print(list8[-3 : ])

2
100
100
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[2, 4, 6, 8, 10]
[96, 98, 100]

#### 문자열 데이터도 리스트 메모리 구조와 동일하게 저장되고 처리됨

In [13]:
str1 = "안녕하세요, 파이썬 재미있어요!"
str1, type(str1)

('안녕하세요, 파이썬 재미있어요!', str)

In [15]:
### 인덱스 번호 및 값을 이용해서 문자열 내에 각 단어들을 출력
# for 문 사용, 위 두가지 방법 모두 사용

# 인덱스 번호 이용
for i in range(0, len(str1), 1) :
    print(str1[i])

# 값 이용
for str in str1 :
    print(str)

안
녕
하
세
요
,

파
이
썬

재
미
있
어
요
!
안
녕
하
세
요
,

파
이
썬

재
미
있
어
요
!

#### 리스트에 값 추가하기

In [19]:
### 깨끗한 리스트 생성

list_temp = []

### 새로운 값 1개 추가하기
# 리스트에 값을 추가하는 함수 : append()

list_temp.append("환수사")
print(list_temp)

list_temp.append("기상술사")
print(list_temp)

# 리스트에 새로운 리스트 추가
list_temp.append(list8)
print(list_temp)

# 리스트에 본인 리스트 추가
list_temp.append(list_temp)
print(list_temp)

# 리스트에 타입이 다른 값 추가
list_temp.append(100)
print(list_temp)

['환수사']
['환수사', '기상술사']
['환수사', '기상술사', [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]]
['환수사', '기상술사', [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100], [...]]
['환수사', '기상술사', [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100], [...], 100]

In [24]:
### list_temp 데이터 중에 2번째 인덱스의 값들을 모두(각각) 출력

# print(list_temp[2])
for val in list_temp[2] :
    print(val)

### list_temp 데이터 중에 3번째 인덱스의 값들을 모두(각각) 출력
for val in list_temp[3] :
    print(val)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [26]:
### list_temp 데이터 중에 3번째 인덱스의 값들을 모두(각각) 출력

list_temp.append("마지막에 추가2")

for val in list_temp[3] :
    print(val)

환수사
기상술사
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
['환수사', '기상술사', [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100], [...], 100, '마지막에 추가1', '마지막에 추가2']
100
마지막에 추가1
마지막에 추가2

In [27]:
print(list_temp)

['환수사', '기상술사', [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100], [...], 100, '마지막에 추가1', '마지막에 추가2']

In [31]:
### 리스트 변수 생성

list_temp2 = [1, "도화가", [1, 2, 3], "샤", [4, 5, 6]]
print(list_temp2)

### type 확인
type(list_temp2), type(list_temp2[0]), type(list_temp2[1]), type(list_temp2[2]), type(list_temp2[3]) , type(list_temp2[4])

[1, '도화가', [1, 2, 3], '샤', [4, 5, 6]]

(list, int, str, list, str, list)

In [39]:
### list_temp2 데이터 중에 타입이 list인 경우
# 해당 리스트 내 데이터를 각각 출력
# 단, 데이터 타입이 list인 인덱스 위치는 모른다고 가정

# 타입 확인하는 함수 이용 방법
for i in list_temp2 :
    if  isinstance(i, list): # isinstance() : 데이터가 어떤 타입인지 확인하는 함수
        for val in i :
            print(val)

print(" -- ")

# 배운 대로
for i in list_temp2 :
    if  type(i) == list :
        for val in i :
            print(val)

1
2
3
4
5
6
 --
1
2
3
4
5
6

#### 리스트 연산 (+, *)

In [51]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

### 리스트 더하기 연산 : 여러개의 리스트가 하나의 리스트로 더해짐

list3 = list1+ list2
print(list3)

### 리스트 곱하기 연산 : 하나의 리스트 내에 동일한 값을 여러개 추가하고자 할 때 사용
# 추가하고자 하는 갯수를 곱하면 됨

list1 * 2

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 1, 2, 3]

#### 리스트 내 특정 인덱스 데이터 삭제하기

In [52]:
### list3 데이터 중에 n번째 인덱스 값 삭제하기
# 삭제 명령 : del

### del 명령은 리스트의 인덱스 번호를 사용해서 삭제할 때 사용
del list3[1]
print(list3)

[1, 3, 4, 5, 6]

In [53]:
### remove() 함수를 이용 : 값을 이용해서 삭제할 때 사용
# 같은 값이 존재할 경우, 가장 첫번째 나오는 값을 삭제함

list3.remove(4)
print(list3)

[1, 3, 5, 6]

#### 값 입력 받기

In [54]:
### input() : 임의의 값을 입력 받을 때 사용
# - input()을 통해 반환 받은 값의 타입 : 무조건 문자열(str) 타입

p_name = (input("(안내) 이름을 입력해주세요 : "))

#### 리스트 내 특정 인덱스 위치의 값 수정하기

In [45]:
list3[1] = 2
print(list3)

[1, 2, 4, 5, 6]