In [1]:
### 데이터 처리 라이브러리
import pandas as pd

### 시리즈(Series)

In [5]:
### 시리즈 : 한 컬럼의 열 데이터를 담당하는 타입
# - 리스트의 구조와 유사함(인덱스 번호 또는 값으로 유지됨)
# - 리스트와 사용방법이 유사함
data = ["강아지", "고양이", "호랑이", "사자", "원숭이"]
idx  = ["0", "1", "2", "3", "4"]
idx  = ["a", "b", "c", "d", "e"]

# - 시리즈 타입으로 정의하기
pd.Series(data=data, index=idx)

a    강아지
b    고양이
c    호랑이
d     사자
e    원숭이
dtype: object

### 딕셔너리 데이터를 -> 시리즈로 변환하기

In [7]:
dict_data = {"a" : 1, "b" : 2, "c" : 3}
# 딕셔너리의 key는    index값으로 사용되고, 
#           value는  시리즈의 값으로 사용됨
pd.Series(dict_data)

a    1
b    2
c    3
dtype: int64

### 리스트를 -> 시리즈로 변환하기

In [10]:
list_data = ["강아지", "고양이", "호랑이", "사자", "원숭이"]
# 리스트의 index 번호를 -> 시리즈의 인덱스 값으로
#         데이터 값을   -> 시리즈의 값으로
pd.Series(list_data)

0    강아지
1    고양이
2    호랑이
3     사자
4    원숭이
dtype: object

### 튜플을 -> 시리즈로

In [12]:
tuple_data = ("강아지", "고양이", "호랑이", "사자", "원숭이")
# 튜플의 index 번호를 -> 시리즈의 인덱스 값으로
#       데이터 값을   -> 시리즈의 값으로
pd.Series(tuple_data)

0    강아지
1    고양이
2    호랑이
3     사자
4    원숭이
dtype: object

### 시리즈의 인덱스 값을 수정하기

In [14]:
pd.Series(tuple_data, index=["a", "b", "c", "d", "e"])

a    강아지
b    고양이
c    호랑이
d     사자
e    원숭이
dtype: object

### 데이터프레임 생성 방법

##### 딕셔너리 데이터를 이용해서 -> 데이터프레임 생성하기

In [16]:
### 데이터프레임에 적용하기 위한 딕셔너리 형태
dict_data = {"동물" : ["강아지", "고양이", "호랑이", "사자", "원숭이"],
             "나이" : [5, 6, 8, 3, 7]}
pd.DataFrame(dict_data)

    동물  나이
0  강아지   5
1  고양이   6
2  호랑이   8
3   사자   3
4  원숭이   7

##### 리스트 데이터를 -> 데이터프레임으로

In [21]:
list_data = [["강아지", 5], ["고양이", 6], ["호랑이", 8], 
             ["사자", 3], ["원숭이", 7]]
pd.DataFrame(list_data, columns=["동물", "나이"])

    동물  나이
0  강아지   5
1  고양이   6
2  호랑이   8
3   사자   3
4  원숭이   7

### 깨끗한(비어 있는) 데이터프레임 생성하기

In [20]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [22]:
### 깨끗한 데이터 프레임에 데이터 넣기...
# - 딕셔너리의 개념을 따름 : key(컬러명)가 있으면 데이터 수정
#                                        없으면 컬럼 및 데이터 생성
df["동물"] = ["강아지", "고양이", "호랑이", "사자", "원숭이"]
df["나이"] = [5, 6, 8, 3, 7]
df

    동물  나이
0  강아지   5
1  고양이   6
2  호랑이   8
3   사자   3
4  원숭이   7

In [30]:
df1 = pd.DataFrame()
df1["동물"] = [["강아지", "고양이", "호랑이", "사자", "원숭이"]]
df1["나이"] = [[5, 6, 8, 3, 7]]
df1

                         동물               나이
0  [강아지, 고양이, 호랑이, 사자, 원숭이]  [5, 6, 8, 3, 7]

In [33]:
df = pd.DataFrame()
df["동물"] = [{"a":"호랑이"}]
df["나이"] = [[5, 6, 8, 3, 7]]
df["데이터프레임"] = [df1]
df

0                             동물               나이
0...
Name: 데이터프레임, dtype: object

In [42]:
type(df["동물"][0]) == dict
type(df["나이"][0]) == list

pandas.core.frame.DataFrame

### 데이터프레임의 컬럼명 확인하기

In [35]:
list_data = [["강아지", 5], ["고양이", 6], ["호랑이", 8], 
             ["사자", 3], ["원숭이", 7]]
df_temp = pd.DataFrame(list_data, columns=["동물", "나이"])

### 컬럼명 확인
df_temp.columns

Index(['동물', '나이'], dtype='object')